<div class="container-fluid " style=" margin-top: -80px;">

    <div class="sidebar" data-color="blue">
        <div class="logo">
            @* icon *@
            <a href="http://www.creative-tim.com" class="simple-text logo-normal text-center">
                StackBook
            </a>
        </div>
        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
                <li class=" @(ViewContext.RouteData.Values["controller"]?.ToString() == "Dashboard" ? "active" : "")">
                    <a asp-controller="Dashboard"
                       asp-action="Index">
                        <i class="now-ui-icons design_app"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class=" @(ViewContext.RouteData.Values["controller"]?.ToString() == "Order" ? "active" : "")">
                    <a asp-controller="Order"
                       asp-action="Index">
                        <i class="fas fa-receipt"></i> Order
                    </a>
                </li>
                <li class=" @(ViewContext.RouteData.Values["controller"]?.ToString() == "Book" ? "active" : "")">
                    <a asp-controller="Book"
                       asp-action="Index">
                        <i class="bi bi-book me-2"></i> Book
                    </a>
                </li>
                <li class=" @(ViewContext.RouteData.Values["controller"]?.ToString() == "Category" ? "active" : "")">
                    <a asp-controller="Category"
                       asp-action="Index">
                        <i class="bi bi-collection"></i> Category
                    </a>
                </li>
                <li class=" @(ViewContext.RouteData.Values["controller"]?.ToString() == "Author" ? "active" : "")">
                    <a asp-controller="Author"
                       asp-action="Index">
                        <i class="bi bi-person me-2"></i> Author
                    </a>
                </li>
                <li class=" @(ViewContext.RouteData.Values["controller"]?.ToString() == "User" ? "active" : "")">
                    <a asp-controller="User"
                       asp-action="Index">
                        <i class="bi bi-people me-2"></i> Users
                    </a>
                </li>
                
                <li class=" @(ViewContext.RouteData.Values["controller"]?.ToString() == "Discounts" ? "active" : "")">
                    <a asp-controller="Discounts"
                       asp-action="Index">
                        <i class="bi bi-tag"></i>
                        Discounts
                    </a>
                </li>
                <li class=" @(ViewContext.RouteData.Values["controller"]?.ToString() == "Statistic" ? "active" : "")">
                    <a asp-controller="Statistic"
                       asp-action="Index">
                        <i class="bi bi-bar-chart me-2"></i> Statistic
                    </a>
                </li>
                <li>
                    <a class=" @(ViewContext.RouteData.Values["controller"]?.ToString() == "Profile" ? "active" : "")"
                       asp-area="Customer" asp-controller="Account"
                       asp-action="Profile">
                        <i class="fa-solid fa-id-card me-2"></i> Profile
                    </a>
                </li>
                <li>
                    <a class="" asp-area="Site" asp-controller="Account" asp-action="Signout">
                        <i class="fa-solid fa-arrow-right-from-bracket me-2"></i> Sign out
                    </a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</div>