@* @model StackBook.Models.Category *@
@model List<StackBook.ViewModels.BookRatingViewModel>




<div class="container-fluid">
    <h1 class="text-center my-4 py-2 border-bottom bg-body-tertiary">
        <span class="fw-light">Explore</span> @ViewBag.CategoryName
    </h1>

    @await Component.InvokeAsync("SliderCategory")

    @* =================  CONTENT ============== *@
    <div class="content">
        <section class="category-section mb-5">
            <div class="d-flex justify-content-between mt-5 pb-2 border-bottom">
                <h2 class="">Popular</h2>
                @* <a asp-controller="Category" asp-action="Books" class="view-all text-decoration-none text-muted">View all ></a> *@
            </div>
            <div class="container-books category1">
                <button id="prev-card" class="fa-solid fa-arrow-left card-button"></button>
                <div class="book-list">

                    @foreach (var bookRating in Model)
                    {
                        <a asp-controller="Category" asp-action="BookDetail" asp-route-bookId="@bookRating.Book.BookId" class="book-card text-decoration-none text-black">
                            <img src="@bookRating.Book.ImageURL" alt="@bookRating.Book.BookTitle">
                            <div class="book-title">@bookRating.Book.BookTitle</div>
                            <div class="book-rating">
                                <small class="text-warning">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= Math.Floor(bookRating.AverageRating))
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                        else if (i - 0.5 <= bookRating.AverageRating)
                                        {
                                            <i class="fas fa-star-half-alt"></i>
                                        }
                                        else
                                        {
                                            <i class="far fa-star"></i>
                                        }
                                    }
                                </small>
                            </div>
                            <div class="fs-8">
                                @foreach (var author in bookRating.Book.Authors)
                                {
                                    <div>@author.AuthorName</div>
                                }
                            </div>
                            <div class="book-price">$@bookRating.Book.Price</div>

                        </a>
                    }
                </div>
                <button id="next-card" class="fa-solid fa-arrow-right card-button"></button>
            </div>
        </section>


        @* =============== Deals =============== *@
        <section class="category-section mb-5">
            <div class="d-flex justify-content-between mt-5 pb-2 border-bottom">
                <h2 class="">Deals</h2>
                @* <a asp-controller="Category" asp-action="Books" class="view-all text-decoration-none text-muted">View all ></a> *@
            </div>
            <div class="container-books category2">
                <button id="prev-card" class="fa-solid fa-arrow-left card-button"></button>
                <div class="book-list">

                    @foreach (var bookRating in Model)
                    {
                        <a asp-controller="Category" asp-action="BookDetail" asp-route-bookId="@bookRating.Book.BookId" class="book-card text-decoration-none text-black">
                            <img src="@bookRating.Book.ImageURL" alt="@bookRating.Book.BookTitle">
                            <div class="book-title">@bookRating.Book.BookTitle</div>
                            <div class="book-rating">
                                <small class="text-warning">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= Math.Floor(bookRating.AverageRating))
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                        else if (i - 0.5 <= bookRating.AverageRating)
                                        {
                                            <i class="fas fa-star-half-alt"></i>
                                        }
                                        else
                                        {
                                            <i class="far fa-star"></i>
                                        }
                                    }
                                </small>
                            </div>
                            <div class="fs-8">
                                @foreach (var author in bookRating.Book.Authors)
                                {
                                    <div>@author.AuthorName</div>
                                }
                            </div>
                            <div class="book-price">$@bookRating.Book.Price</div>

                        </a>
                    }
                </div>
                <button id="next-card" class="fa-solid fa-arrow-right card-button"></button>
            </div>
        </section>

        @* =============== New releases =============== *@
        <section class="category-section mb-5">
            <div class="d-flex justify-content-between mt-5 pb-2 border-bottom">
                <h2 class="">New releases</h2>
                @* <a asp-controller="Category" asp-action="Books" class="view-all text-decoration-none text-muted">View all ></a> *@
            </div>
            <div class="container-books category3">

                <div class="book-list">

                    @foreach (var bookRating in Model)
                    {
                        <a asp-controller="Category" asp-action="BookDetail" asp-route-bookId="@bookRating.Book.BookId" class="book-card text-decoration-none text-black">
                            <img src="@bookRating.Book.ImageURL" alt="@bookRating.Book.BookTitle">
                            <div class="book-title">@bookRating.Book.BookTitle</div>
                            <div class="book-rating">
                                <small class="text-warning">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= Math.Floor(bookRating.AverageRating))
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                        else if (i - 0.5 <= bookRating.AverageRating)
                                        {
                                            <i class="fas fa-star-half-alt"></i>
                                        }
                                        else
                                        {
                                            <i class="far fa-star"></i>
                                        }
                                    }
                                </small>
                            </div>
                            <div class="fs-8">
                                @foreach (var author in bookRating.Book.Authors)
                                {
                                    <div>@author.AuthorName</div>
                                }
                            </div>
                            <div class="book-price">$@bookRating.Book.Price</div>

                        </a>
                    }
                </div>
                <button id="prev-card" class="fa-solid fa-arrow-left card-button"></button>
                <button id="next-card" class="fa-solid fa-arrow-right card-button"></button>
            </div>
        </section>

        @* =============== Explore more =============== *@
        <div class="d-flex justify-content-between mt-5 pb-2 border-bottom">
            @* <h2 class="">Explore more</h2> *@
            @* <a href="" class="text-decoration-none">See more</a> *@
        </div>
        @* ============ CONTENT ========= *@ 
        <div class="row g-4">
            @* @await Component.InvokeAsync("Books", new { books  = Model }) *@
        </div>
    </div>
</div>